<p id="notice"><%= notice %></p>

<h1>Listing Countries</h1>
<div id="content">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ISO 2 Char code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.alpha2 %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= link_to 'Edit', edit_country_path(c) %></td>
        <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %>
</div>
