<h1>Listing Holidays on <%= @date.to_formatted_s(:long_ordinal) %> in <%= @country_name %></h1>
<div id="content">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <% @holidays.each do |holiday| %>
        <tr>
          <td><%= holiday.name %></td>
          <td><%= holiday.date %></td>
          <% if Country.exists?(holiday.country_id) %>
            <td><%= Country.find(holiday.country_id).name %>(<%= holiday.country_id %>)</td>
          <%else%>
            <td>All</td>
          <%end%>
          <td><%= link_to 'Show', holiday %></td>
          <td><%= link_to 'Edit', edit_holiday_path(holiday) %></td>
          <td><%= link_to 'Destroy', holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<br />
<%= link_to "New Holiday", new_holiday_path %>
</div>
<br>
