<div id="content">
  <p>Ocassion: <%= @holiday.name %> <br />
  Date: <%= @holiday.date.to_formatted_s(:long_ordinal) %> <br />
  Country: <%= "All" if @holiday.country_id == nil %> 
  <%= Country.find(@holiday.country_id).name if @holiday.country_id != nil %>
  <br /></p>
  <%= link_to "Back", root_path %>
</div>
