<h1>Import</h1>
<div id="content">
  <%= form_tag("/import", method: "post") do %>
    <%= label_tag("Country Code") %> <br />
    <%= text_field(:import, :alpha2) %>
    <%= label_tag("Year (YYYY)") %> <br />
    <%= text_field(:import, :year) %>
    <%= submit_tag("Import") %>
  <% end %>
</div>
